:root {
  --default-font: "Cabin Sketch", cursive;
  --primary-color: rgb(145, 168, 208);
  --secondary-color: #ffc0cb;
}
App .wrapper-container {
  max-width: 600px;
  margin: 30 auto;
  background-color: rgba(171, 216, 198, 0.497);
  border: solid;
  border-color: #1c7696;
  border-radius: 50px;
  font-family: PT mono, monospace;
  padding: 30px 30px 10px;
}
h1 {
  margin-top: 70px;
  text-align: center;
  color: #91a8d0;
  text-shadow: 5px 5px 10px rgba(145, 168, 208, 0.4);

  font-family: var(--default-font);
}
footer {
  font-size: 11px;
  font: var(--default-font);
  text-align: center;
  margin-top: 80px;
  color: rgb(145, 168, 208);
}
