:root {
  --default-font: "Cabin Sketch", cursive;
  --primary-color: #91a8d0;
  --secondary-color: #996472;
}
.description {
  font-family: var(--default-font);
  border: 1px solid var(--secondary-color);
  padding: 16px;
  margin: 30px auto;
  max-width: 500px;
  border-radius: 4px;
  text-align: center;
  color: var(--primary-color);
  background-color: #F4F9FF;
}
.Weather canvas {
  margin: 10px auto;
}

.btn {
  color: white;
  background-color: var(--secondary-color);
  border: powderblue;
  margin: 10px auto;
  padding: 4px 16px;
  width: 100px;
}
h2{
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}
ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: var(--primary-color);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.icon {
  text-align: center;
}
form {
  text-align: center;
  margin-bottom: 20px;
}
